<!--Author: Abhishek Sawant, 8683623-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <!-- <script src="js/js.js"></script> -->
    <title>TAPE Stationery Store</title>
</head>
<body>
    <header>
        <h1>TAPE Stationery Store</h1>
        <nav id="nav_menu">
            <ul>
                <li><a href="/">Home</a></li>
    	        <li><a href="/allOrders">All Orders</a></li>
            </ul>
        </nav>
    </header>